@{
    ViewData["Title"] = "DisplayUsers";
}
<h1>DisplayUsers</h1>

<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.UserRoleList != null)
        {
            foreach (var user in ViewBag.UserRoleList as List<LearnIn.ViewModels.UserRoleViewModel>)
            {
                <tr>
                    <td>@user.UserName</td>
                    <td>
                        @if (user.Roles.Any())
                        {
                            @string.Join(", ", user.Roles)
                        }
                        else
                        {
                            <span>No roles assigned</span>
                        }
                    </td>
                    <td>
                        <!-- Edit Button -->
                        <a asp-action="EditUser" asp-route-id="@user.UserId" style="display:inline-block"  class="btn btn-outline-primary btn-sm">
                            Edit
                        </a>                       
                        <!-- Delete Button -->
                        <form asp-action="DeleteUser" method="post" onsubmit="return confirm('Are you sure you want to delete this user?');">
                            <input type="hidden" name="id" value="@user.UserId" />
                            <button style="display:inline-block" type="submit" class="btn btn-outline-danger">Delete</button>
                        </form>
                        <!-- AssignRole -->
                        <a asp-action="AssignRole" asp-route-id="@user.UserId" style="display:inline-block" class="btn btn-outline-primary btn-sm">
                            AssignRole
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<style>
    h1 {
        color: #298EE5;
        font-weight: bold;
    }
</style>

